// global rules
html,body,ul,ol,li,form,fieldset,nav {margin: 0;padding: 0;list-style: none;}
h1,h2,h3,h4,p {margin: 0;}
img {border: 0;}
address {font-style: normal;}

// getting font

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

//  ASK DERREN ABOUT ALT TEXT -- DONT FORGET ABOUT THIS

// importing local font
@font-face {
  font-family: "myfont";
  src: url("../fonts/Bickham Script Pro Regular.woff") format("woff");
  src: local("../fonts/Bickham-Script-Pro-Regular.ttf") format("truetype");
}
//
//@font-face {
//  font-family: "Your typeface";
//  src: url("type/filename.eot");
//  src: local("☺"),
//    url("type/filename.woff") format("woff"),
//    url("type/filename.otf") format("opentype"),
//    url("type/filename.svg#filename") format("svg");
//  }

// giving everything relative size
*,
::before,
*::after {
    box-sizing: border-box;
}

// hididng skiplinks
.skiplinks {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// seting variables to colours

$accent: rgba(146, 123, 57, 1);
$text: rgba(0, 0, 0, 1);
$white-text: rgba(255, 255, 255, 1);
$background: rgba(56, 56, 56, 1);

@keyframes animate-left {
  from {
    transform: translateY(50px);
      opacity: 0;
  }
  to {
    transform: translatY(0px);
      opacity: 1;
  } 
        }

@keyframes bounce {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    50% {
        transform: rotate(-45deg) translate(-4px, 4px);
    }
    100% {
        transform: rotate(-45deg) translate(0, 0);
    }
}


//------------------- END ---------------------

body {
    font-size: 1rem; // 1rem === 16px   
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial sans-serif;
} 

h1 {
    font-family: "myfont";
    font-size: 100px;
    font-weight: 400;
    line-height: 1;
}

@media screen and (max-width: 425px) {
    .hero-image__heading  {
        font-size: 75px;
    }
}


//------------------- END ---------------------

.contactme__heading {
    text-align: center;
    padding: 20px 0;
    font-size: 26px;
}

//------------------- Hero Images -------------

.hero-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}


.hero-image__heading {
        font-family: "myfont";
    color: $white-text;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    align-self: center;
    text-align: center;
    
}

.hero-image__heading--subpage {
    grid-row: 3 / 4;
}



.hero-image--pricing {
 background-image: url(../images/hero-images/pricing.jpg);
}

.hero-image--gallery {
 background-image: url(../images/hero-images/homepage.jpg);
}
.hero-image--contactme {
 background-image: url(../images/hero-images/contactme.jpg);
}

.hero-image__heading--homepage {
        opacity: 0;
    grid-row: 2 / 3;
    align-self: flex-start;
        animation:animate-left 1.3s ease .5s;
    animation-fill-mode: forwards;
}

.hero-image__text {
    opacity: 0;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    text-align: center;
    color: $white-text;
    align-self: end;
    padding: 0 10px;
    animation:animate-left 1.3s ease 1.3s;
    animation-fill-mode: forwards;
}

.hero-image__text--section1 {
        opacity: 0;
        animation:animate-left 1.3s ease 2.4s;
    animation-fill-mode: forwards;
}

.hero-image__text--section2 {
        opacity: 0;
        animation:animate-left 1.3s ease 3.4s;
    animation-fill-mode: forwards;
}





//------------------- Hero Video -------------

.hero-image--homepage {
    height: 85vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}

.hero-image__container {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 85vh;
    background-size: cover;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-image__logo {
    height: auto;
    width: 130px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 20px;
}
//@media only screen and (max-width: 768px) {
//    video {
//        display: none;
//    }
//    .hero-image--homepage {
//        background-image: url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg);
//    }
//}

//------------------- END ---------------------

//------------------- Navigation --------------

// mobile navigation
   @media screen and (max-width: 499px) {
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $accent;
    z-index: 3;
    display: flex;
    justify-content: space-around;

.navigation__logo
    {
    display: none;
}

.navigation__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

a {
    text-decoration: none;
    padding: 15px 0;
    color: $white-text;
        &:hover {
            text-decoration: underline;
            color: $white-text;
        }
    }
       }


}

// desktop nav
@media screen and (min-width: 500px) {
    .hero-image__logo {display: none;    }
    .navigation {
        z-index: 3;
        max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    display: flex;
    position: fixed;
    width: 100%;
    top:0;
        left: 0;
        right: 0;
    }
.navigation__items {
  display: flex;
}

.navigation__items a {
    text-align: center;
  justify-content: flex-end;
  padding: 20px 13px 10px 13px;
    position: relative;
    &:visited {
                color: $white-text;
            } // hover animation
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $white-text;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }

            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
    
    } }

.navigation__logo {
  margin-right: auto;
}
.navigation a {
  color: white;
    display: block;
  text-decoration: none;

} 
    
    // class added via javascript
.dynamic-nav {
  background: rgba(0, 0, 0, 0.7) 100%;
  
}
}

// background fade on scroll
#dynamic-wrapper {
  transition: 1s ease-in-out;
}


// added new class so the background spans the whole width
.dynamic-wrapper {
    margin: 0 auto 20px auto;
    padding: 41px 0;
    position: fixed;
    width: 100%;
    top:0;
        left: 0;
        right: 0;
    z-index: 2;
}


.downArrow {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: end;
    margin: 0 auto 24px auto;
    width: 24px;
    height: 24px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transform: rotate(-45deg);
    animation: bounce 1.5s infinite 4.2s;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;

}


.downArrow:hover {
    cursor: pointer;
    animation-play-state: paused;
}





.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}




//------------------- END ---------------------


// ------------- Testimonials -----------------

.testimonials__heading {
    text-align: center;
    padding: 80px 0 0 0;
}

.testimonials {
    flex-wrap: wrap;
    display: flex;
    margin: 20px auto 90px auto;
    max-width: 1440px;
    justify-content: center;

    .testimonials__name {
        color: $background;
        padding: 10px 0;
        text-align: center;
    }
    
    .testimonials__outer {
        padding: 20px;
        @media(min-width: 500px) {
            width: 50%;
            padding: 20px;
        }
        @media(min-width: 1000px) {
            width: 33.3333%;

        }
    }

    .testimonials__card {
        display: flex;
        border-radius: 0.25rem;
        margin-top: 20px;
        flex-direction: column;
        overflow: hidden;
        }
    }
 
    .testimonials__content {
        text-align: center;
        color: $background;
        max-width: 280px;
        margin: 0 auto;
        line-height: 1.6;
        &:before, &:after {
            content: '"';
        }
        
    }
    .testimonials__image {
        align-self: center;
    }    

//------------------- END ---------------------

//------------------- Pricing Menu ------------
//moblie first pricing menu
.pricing-menu__heading {
    font-weight: 700;
}
.pricing-menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
        .pricing-menu__section {
            padding: 20px;
        }
        .pricing-menu__section--threading {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .pricing-menu__section--tint {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .pricing-menu__section--facial {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }

        .pricing-menu__section--eyelash-extensions {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }


    @media screen and (min-width: 600px) {



        max-width: 1200px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 38px;
        color: $background;
        margin: 0 auto;
        .pricing-menu__section {
            padding: 0;
        }

        .pricing-menu__section--threading {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .pricing-menu__section--tint {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .pricing-menu__section--facial {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .pricing-menu__section--eyelash-extensions {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
}

.pricing-menu__item {
    margin: 35px 0;
    font-size: 18px;
}

.pricing-menu__name {

    font-weight: bold;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.pricing-menu__description {
    font-size: .9em;
    font-weight: 300;
    line-height: 1.5em;
}

.pricing-menu__price {
    float: right;
    font-weight: 400;
    margin-top: -25px;
    &:before {
        content: "£"
    }

}

        .pricing-menu__price--from {
            &:before {
                content: "from  ";
                font-size: 14px;
            }
        }

//------------------- END ---------------------

// ------------- Contact Me    ----------------

.aboutme {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 0;

}

.aboutme__image {
    grid-row: 1 / 2;
    align-self: center;
    margin: 0 auto;

}

.aboutme__heading {
    grid-row: 2 / 3;
    margin: 0 auto;
    align-self: end;
    padding: 25px 15px;
}

.aboutme__text {
    padding: 15px;
    line-height: 1.6;
    grid-row: 3/ 4;
    lign-height: 1.3rem;
}

@media screen and (max-width: 829px) {
    .aboutme__text {
text-align: center;
}
}

.aboutme__contact-section {
    max-width: 600px;
}

.aboutme__contact-section__mnumber {
    grid-row: 4 / 5;
    padding: 10px;
    text-align: center;
            font-weight: 700;
    font-size: 18px;
}

.aboutme__contact-section__lnumber {
    grid-row: 5 / 6;
    padding: 10px;
    text-align: center;
            font-weight: 700;
    font-size: 18px;
}


.aboutme__image {
    border-radius: 50%;
}

#map { height: 400px; width: 100%; }




@media screen and (min-width: 830px) {
    .aboutme {
        max-width: 800px;
        margin: 40px auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 20px;
    }

    .aboutme {}
    .aboutme__image {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
        align-self: center;
        justify-self: end;
        margin-right: 30px
    }
    .aboutme__heading {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        margin: 0 auto;
        align-self: end;
        padding: 15px;
    }
    .aboutme__text {
        padding: 15px;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        lign-height: 1.3rem;
    }
    .aboutme__contact-section {
        max-width: 600px;
    }
    .aboutme__contact-section__mnumber {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        padding: 0 20px;
        text-align: center;

    }
    .aboutme__contact-section__lnumber {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        padding: 0 20px;
        text-align: center;
    }
    .aboutme__contact-section__email {}

    .aboutme__image {
        border-radius: 50%;
    }
}

.photoGallery {
    line-height: 0;
    column-count: 4;
    column-gap: 20px;
    max-width: 1195px;
    margin: 0 auto;
    padding:20px;
}
.photoGallery img {
  width: 100% !important;
  height: auto !important;
  margin: 0 auto;
  padding: 20px 0 0 0;

}

@media (max-width: 1200px) {
  .photoGallery {
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .photoGallery {
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .photoGallery {
  column-count:         2;
  }
}
@media (max-width: 560px) {
  .photoGallery {
  column-count:         1;
  }
}

// ----------------------------------------

form {
    padding: 20px;
   max-width: 1200px;
   margin: 0 auto;
  
  input, textarea {
     border:0; outline:1px solid black;
     padding: 1em;
     display: block;
     width: 100%;
     margin-top: 20px;
     font-family: 'Merriweather', sans-serif;
     resize: none;
    
    &:focus {
       box-shadow: rgba(146, 123, 57, 1);
    }
  }
  
  .form-submit {
     color: white; 
    background: lightgrey;
     cursor: pointer;
    
    &:hover {
       box-shadow:(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 164px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.form-right { width: 50%;
float: right;}

.form-left{
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
  .form-right {
    width: 100%;
    margin-bottom: 20px;
  }
    .form-left{
     margin-right: 0%; 
}
}


/* Clearfix */
form:before,
form:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

form:after {
    clear: both;
}

// ------------- Footer ----------------

.page-footer__heading {
    padding-bottom: 20px;
}
.page-footer__background {
    background: rgba(0, 0, 0, 0.8) 100%;

}

.page-footer__site-map {
    padding: 20px 10px;

    a {
        text-decoration: none;
        &:visited {
            color: white;
        }
        &:hover {
            text-decoration: underline;
        }
    }

}




.page-footer__address {
    padding: 20px 10px;
    border-top: 1px solid grey;

}

.page-footer__social {
    padding: 20px 10px;
    border-top: 1px solid grey;
    text-align: center;
}

    .page-footer__social-icon {
        width: 41px;
    }

.page-footer__social-icons {
    display: flex;
    justify-content: space-between;
    max-width: 275px;
    margin: 0 auto;
}


.page-footer__social-icon { transition: all 0.3s ease-in-out; &:hover {transform: scale(1.2);   }}

// hover over color change ask derren svg
//.page-footer__social-icon--email { &:hover {fill: black;  }}
//.page-footer__social-icon--instagram { &:hover {fill: red;}}
//.page-footer__social-icon--twitter { &:hover  {fill: rgb(255, 51, 153);}}
//.page-footer__social-icon--facebook { &:hover {fill: rgb(255, 51, 153);}}
//.page-footer__social-icon--snapchat { &:hover {fill: rgb(255, 51, 153);}}


.page-footer {
    color: $white-text;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;

    @media screen and (min-width: 426px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;

        .page-footer__site-map {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin: 0 auto;
        }
        .page-footer__address {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            border: none;
            margin: 0 auto;


        }
        .page-footer__social {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            border-top: 1px solid grey;
            padding-top: 20px;
            margin-top: 3%;
            text-align: center;
        }
        .page-footer__social-icons {
            max-width: 275px;
            margin:  6px auto;
        }
    }
    @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 1200px;
        margin: 0 auto;
        .page-footer__social {
            border: none;
            grid-column: 3 / 4;
            grid-row: 1 / 2;

        }
    }
}

//------------------- END ---------------------
