// reset --
html,body,ul,ol,li,form,fieldset,nav {margin: 0;padding: 0;list-style: none;}
h1,h2,h3,h4,p {margin-top: 0;}
img {border: 0;}

// ----- end

// getting font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// seting variables to colours

$accent: rgba(224, 157, 19, 1);
$text: rgba(66, 69, 70, 1);
$background: rgba(255, 255, 255, 1);


body {
    font-size: 1rem; // 1rem === 16px   
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial sans-serif;
    border: 8px solid $text;
}

.homepage {
            background: url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg);
            background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
      height: 70vh;


}

